.card{
    width: 18rem;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}
.card:hover {
    box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.3);
    transform: translateY(-5px);
  }
  
.product-button{
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    color: black;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
    border-radius: 16px;
    background: #E6EDF7;
    width: 100%;
    text-align: center;
    padding: 16px;
    cursor:pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.product-text{
    border-top: 1px solid #DAE4F2;
    padding: 16px 24px 24px 24px;
}

.product-text h3{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    color: #252F3D;
    margin: 0;
}
.product-image{
    padding: 34px;
    overflow:hidden;
    position:relative;
}

.product-description{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #7C899C;       
    margin: 0;
}